.cards {
    /*    padding-top: 40px;*/
    padding-bottom: 40px;
}

.card {
    background: #EEE;
    /*    border: 1px solid #ccc;*/
    padding: 12px;
    margin: 10px 0px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    height: 200px;
}

.card.active {
    background: #AAA;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    height: 420px;
}

.card .title {
    /*    font-size: 1.0vw;*/
    font-size: 22px;
    /* http://stackoverflow.com/questions/15649244/responsive-font-size */
}

.card.active .title {
    font-size: 28px;
}

.card .main {
    font-size: 65px;
    font-family: 'Oswald', sans-serif;
    /*    float: left;*/
    padding-right: 10px;
    padding-bottom: 12px;
}

.card.active .main {
    font-size: 125px;
    font-family: 'Oswald', sans-serif;
    padding-right: 20px;
}

.card .category {
    float: right;
    clear: none;
    font-size: 18px;
    padding-right: 4px;
}

.card.active .category {
    float: right;
    clear: none;
    font-size: 25px;
    padding-right: 6px;
}

.card .product {
    font-size: 27px;
    padding-bottom: 12px;
    /*
    display: table-cell;
vertical-align: middle;
padding: 10px;
*/
}

.card.active .product {
    font-size: 45px;
    padding-bottom: 24px;
}

.border {
    position: relative;
}

.border::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    bottom: 4px;
    border-bottom: 4px solid #333;
}

.card.active .border::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    bottom: 4px;
    border-bottom: 8px solid #333;
}


/* Extra small devices (phones, less than 768px) */

@media (max-width: 767px) {
    .card .title {
        font-size: 16px;
    }
    .card.active .title {
        font-size: 20px;
    }
    .card .main {
        font-size: 52px;
    }
    .card.active .main {
        font-size: 84px;
    }
    .card .category {
        font-size: 16px;
    }
    .card.active .category {
        font-size: 22px;
    }
    .card .product {
        font-size: 26px;
    }
    .card.active .product {
        font-size: 38px;
    }
}


/* No media query since this is the default in Bootstrap */


/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .card .title {
        font-size: 16px;
    }
    .card.active .title {
        font-size: 20px;
    }
    .card .main {
        font-size: 52px;
    }
    .card.active .main {
        font-size: 84px;
    }
    .card .category {
        font-size: 16px;
    }
    .card.active .category {
        font-size: 22px;
    }
    .card .product {
        font-size: 26px;
    }
    .card.active .product {
        font-size: 38px;
    }
}


/* Medium devices (desktops, 992px and up) */

@media (min-width: 992px) {}


/* Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}