<div class="row">
    <article id="header" class="ten columns u-pull-right">
        <p id="subtitle" class="col s12">Cheapest prices to {{destinationName}} ({{destination}}) are generally on Tuesdays.</p>
    </article>
</div>

<div class="row">

    <div id="filter-col" class="navigation two columns">
        <article class="controls row">
            <fieldset id="destination" >
                <div ng-repeat="d in destinations.values()">
                  <input type="radio" id="dest_{{d.abbr}}" name="destination" value="{{d.abbr}}"  ng-model="cd" ng-change="changeDestination(cd)"/>

                    <label for="dest_{{d.abbr}}"><span class="{{d.abbr}}">{{d.name}}</span></label>
                </div>
                <!-- filled dynamically with destinations -->
            </fieldset>

            <fieldset id="carrier">
                <div ng-repeat="c in carriers">
                    <input type="radio" id="carrier_{{c}}" name="carrier" value="{{c}}"/>
                    <label for="carrier_{{c}}"><span class="{{c}}">{{c}}</span></label>
                </div>

            </fieldset>

            <fieldset id="weekday">
                <input type="radio" id="wday_all" name="weekday" value="all" checked="checked" />
                <label for="wday_all" class="sel"><span class="all">All Weekdays</span></label>
                <input type="radio" id="wday_wd0" name="weekday" value="Mo" />
                <label for="wday_wd0"><span class="monday">Monday</span></label>
                <input type="radio" id="wday_wd1" name="weekday" value="Di" />
                <label for="wday_wd1"><span class="tuesday">Tuesday</span></label>
                <input type="radio" id="wday_wd2" name="weekday" value="Mi" />
                <label for="wday_wd2"><span class="wednesday">Wednesday</span></label>
                <input type="radio" id="wday_wd3" name="weekday" value="Do" />
                <label for="wday_wd3"><span class="thursday">Thursday</span></label>
                <input type="radio" id="wday_wd4" name="weekday" value="Fr" />
                <label for="wday_wd4"><span class="friday">Friday</span></label>
                <input type="radio" id="wday_wd5" name="weekday" value="Sa" />
                <label for="wday_wd5"><span class="saturday">Saturday</span></label>
                <input type="radio" id="wday_wd6" name="weekday" value="So" />
                <label for="wday_wd6"><span class="sunday">Sunday</span></label>
            </fieldset>
        </article>
        <article class="row">

            <section id="legend">
                <ul>
                    <li class="orrd q1-7"></li>
                    <li class="orrd q2-7"></li>
                    <li class="orrd q3-7"></li>
                    <li class="orrd q4-7"></li>
                    <li class="orrd q5-7"></li>
                    <li class="orrd q6-7"></li>
                    <li class="orrd q7-7"></li>

                </ul>
                <p class="more">higher price</p>
                <p class="less">lower price</p>
            </section>

            <section id="disclaimer">
                <small><br/>Based on flight fares collected via the <a href="http://en.business.skyscanner.net/en-gb/products/travel-apis/">Travel APIs from Skyscanner Business</a> between May and August 2016. Only complete time series are visualized, whereas a complete series is defined as a set of prices requested every day from 49 days prior to one day before departure.</small>
            </section>
            <section id="footer">
                <small>&copy; Ruth Ziegler 2016, ffv v<span app-version></span></small>
                <small><a href="https://www.hkb.bfh.ch/de/weiterbildung/design/cas-data-visualization">CAS Data Visualization, HKB Bern</a></small>
            </section>

        </article>

    </div>

    <div id="viz-col" class="col nine columns">

        <article id="container" class="viz">

            <div class="row">
                <div id="tiles-chart" class="twelve columns"></div>
            </div>
            <div id="wtf" class="row">
                <div id="hourly_values" class="seven columns">
                    <p class="subtitle">Daily price development</p>
                    <p class="price"></p>
                    <div class="svg"></div>
                </div>
                <div id="minmax" class="five columns">
                    <p class="subtitle">Percentual savings</p>
                    <div id="viz1" class="radial_container">
                        <div></div>
                    </div>
                    <!--<div id="viz2" class="radial_container">
    <div></div>
</div>-->
                    <p class="subtitle min"></p>
                    <p class="subtitle max"></p>
                    <p class="subtitle cur"></p>
                </div>

                <!--<div id="buckets">
    <p class="subtitle">Price niveaus for each category</p>
</div>-->
            </div>

        </article>
    </div>


    <div id="xx-col" class="col one column">
        <i id="disclaimer-icon" class="material-icons">info_outline</i>
        <!-- This is an anchor toggling the modal -->
        <!--        <a href="view2#disclaimer" data-uk-modal><i id="disclaimer-icon" class="material-icons">info_outline</i></a>-->

        <!--        <button class="uk-button" data-uk-modal="{target:'#disclaimer2'}">...</button>-->

        <!-- This is the modal -->
        <!--
       <div id="disclaimer2" class="uk-modal">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
        <small><br/>Based on flight fares collected via the <a href="http://en.business.skyscanner.net/en-gb/products/travel-apis/">Travel APIs from Skyscanner Business</a> between May and August 2016. Only complete time series are visualized, whereas a complete series is defined as a set of prices requested every day from 49 days prior to one day before departure.</small>
    </div>
</div>
-->



        <!--
<div id="control-carriers" class="fixed-action-btn click-to-toggle">
    <a class="btn-floating btn-large red">
        <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
        <li><a class="btn-floating grey" onclick="carrierChange()">AB</a></li>
        <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
        <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
        <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
    </ul>
</div>
<div id="control-weekdays" class="fixed-action-btn click-to-toggle">
    <a class="btn-floating btn-large red">
        <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
        <li><a class="btn-floating grey">Mo</a></li>
        <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
        <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
        <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
    </ul>
</div>
-->
        <!-- This is a button toggling the modal -->
        <button class="uk-button" data-uk-modal="{target:'#my-id'}"><i class="large material-icons">mode_edit</i></button>

        <!-- This is the modal -->
        <div id="my-id" class="uk-modal">
            <div class="uk-modal-dialog">
                <a class="uk-modal-close uk-close"></a>
                ...
            </div>
        </div>

    </div>

</div>