body {
    font-family: 'Catamaran', sans-serif;
    font-weight: 400;
}

p {
    margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
}

.lead-text,
.article-text {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 16px;
}

.u-upper {
    text-transform: capitalize;
}

.lead-text p:first-of-type {
    padding-top: 40px;
}

.lead-text p:last-of-type {
    padding-bottom: 40px;
}


/* responsive svgs */

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    aspect ratio vertical-align: top;
}


/* calculate the padding-bottom for every responding SVG individually 
 * see http://tympanus.net/codrops/2014/08/19/making-svgs-responsive-with-css/
 * i.e with the "formula" padding-bottom: (svg height / svg width) * width-value;
 * for parset-vis = 600 / 960 = 0.625 = 63%
 */

#tiles-chart .svg-container {
    padding-bottom: 16%;
}

#hourly_values .svg-container {
    padding-bottom: 20%;
}

#parset-vis.svg-container {
    padding-bottom: 63%;
}

#timeseries-vis.svg-container {
    padding-bottom: 21%;
}

.svg-content-responsive {
    display: inline-block;
    position: absolute;
    /*    top: 10px;*/
    left: 0;
}


/* disclaimer */

#disclaimer {
    margin-top: 24px;
    margin-bottom: 36px;
    color: #777;
}

.modal-body > section:first-of-type {
    margin-bottom: 16px;
}

#disclaimer-main {
    text-align: center;
}

#disclaimer-main a {
    color: #777;
}


/* fix for angular-bootstrap (https://angular-ui.github.io/bootstrap) */

.nav,
.pagination,
.carousel,
.panel-title,
a {
    cursor: pointer;
}

#header > h4 {
    padding-top: 24px;
    padding-left: 36px;
    padding-bottom: 48px;
}

#header a {
    color: inherit;
}

#header a:hover {
    text-decoration: none;
}


/**/

.no-margin-bottom {
    margin-bottom: 0px;
}


/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}


/* Custom Stylesheet */


/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

.rotate-45 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}