#tiles-chart {
    margin-top: 12px;
    margin-bottom: 12px;
}

#tiles-chart > div {
    width: 100%;
    height: 400px;
    /*    min-height: 100px;*/
    /*    max-height: 400px;*/
    overflow-y: scroll;
}

#tiles-chart.expanded > div {
    height: 100%;
    overflow-y: visible;
}

#tiles-chart rect:hover {
    opacity: 0.5;
}

text.mono {
    font-size: 8pt;
    fill: #aaa;
}


/**
 * Visualization styles
 */


/* reset stlyes from materialize for vis */

.viz td,
.viz th {
    padding: 0px;
}

.side-nav fieldset,
.viz fieldset {
    border: 0px;
    margin: 0px;
    margin-bottom: 8px;
    padding: 0px;
}

.side-nav [type="radio"]:not(:checked)+label,
.side-nav [type="radio"]:checked+label,
.viz [type="radio"]:not(:checked)+label,
.viz [type="radio"]:checked+label {
    position: inherit;
    padding-left: 0px;
    cursor: default;
    /*        display: none;*/
    height: 25px;
    line-height: 12px;
    font-size: 12px;
    transition: .28s ease;
    -webkit-user-select: none;
}


/* define viz styles */

#share2 {
    margin-right: 20px !important;
}

#share2.ff3 {
    margin-bottom: 15px !important;
}


/*
fieldset#carrier label,
fieldset#carrier input {
    display: none;
    display: inline !important;
}

fieldset#carrier.ff3 {
    width: 500px;
}

fieldset#carrier.ff3 label {
    display: block !important;
}

fieldset#type {
    margin-right: 49px;
    float: left;
}
*/

#carrier_all_label {
    display: inline !important;
}

#scale {
    float: right;
}

#scale ul {
    list-style-type: none;
}

#scale li {
    float: left;
    width: 15px;
    height: 15px;
}

#vis {
    /*
        clear: all;
margin-bottom: 20px;
margin-left: 16px;
width: 300px;
*/
    /*        float: left;*/
    /*        height: 370px;*/
    /*    height: 285px;*/
}

#tiles {
    font-size: 10px;
    clear: both;
}

#tiles th {
    vertical-align: top;
    padding: 0px;
    color: #ccc;
}

#tiles tr.hidden {
    display: none;
}

th.h0,
th.h1,
th.h2,
th.h3,
th.h4,
th.h5,
th.h6,
th.h14,
th.h15,
th.h16,
th.h17,
th.h18,
th.h19,
th.h20,
th.h28,
th.h29,
th.h30,
th.h31,
th.h32,
th.h33,
th.h34,
th.h42,
th.h43,
th.h44,
th.h45,
th.h46,
th.h47,
th.h48 {
    color: #444 !important;
}

#tiles tr th {
    padding-top: 0px;
}


/* header row (delta days) */

#tiles tr:first-child th {
    padding-top: 12px;
    text-align: center;
}


/* header column (departure days) */

#tiles tr th:first-child {
    padding-left: 12px;
}

#tiles tr th:nth-child(2) {
    padding-left: 4px;
    padding-right: 8px;
    text-align: right;
}

#tiles td {
    -webkit-perspective: 1000;
}

#tiles .tile {
    width: 16px;
    height: 16px;
    position: relative;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.7s;
}

.wd-hidden {
    display: none;
}

.face {
    position: absolute;
    -webkit-backface-visibility: hidden;
    width: 14px;
    height: 14px;
    background: #eee;
    border: 1px solid white;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#tiles td.sel .face {
    border-color: black;
}

.face.hidden {
    display: none;
}

#tiles td.dim .screen {
    opacity: 0.6;
}

.face.back {
    -webkit-transform: rotateY(180deg);
}

.tile .screen {
    background: white;
    opacity: 0.0;
    width: 14px;
    height: 14px;
    position: absolute;
    z-index: 1337;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid white;
}

#legend {
    color: #444;
    margin-top: -10px;
    border: 1px solid #adadad;
    overflow: hidden;
    padding: 3px 5px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-right: 12%;
}

#legend ul {
    margin: 0;
    margin-top: 8px;
    margin-left: 8px;
    list-style-type: none;
    overflow: hidden;
    clear: both;
    padding: 0px;
}

#legend li {
    float: left;
    margin-right: 1px;
    width: 16px;
    height: 8px;
    border-radius: 0px;
}

#legend p {
    margin-top: 4px;
    margin-bottom: 0;
    font-size: 80%;
    line-height: 1.0;
    text-align: center;
}

#legend p.more {
    float: right;
}

#legend p.less {
    float: left;
}

#legend-vertical {
    color: #444;
    margin-top: 43px;
    border: 1px solid #adadad;
    /*    overflow: hidden;*/
    padding: 3px 5px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-right: 12%;
}

#legend-vertical ul {
    margin: 0;
    margin: 8px 20px;
    list-style-type: none;
    padding: 0px;
}

#legend-vertical li {
    margin-top: 1px;
    font-size: 80%;
    line-height: 1.0;
}

#legend-vertical div {
    float: left;
    margin-top: 1px;
    margin-right: 8px;
    width: 16px;
    height: 8px;
    border-radius: 0px;
}


/* Copy from colorbrewer 9-class OrRd without the 2 lightest colors)
 * classes are needed since colorbrewer.css only sets the fill property, but we need the background here. */

.OrRd.q2-9 {
    background: #fdd49e;
}

.OrRd.q3-9 {
    background: #fdbb84;
}

.OrRd.q4-9 {
    background: #fc8d59;
}

.OrRd.q5-9 {
    background: #ef6548;
}

.OrRd.q6-9 {
    background: #d7301f;
}

.OrRd.q7-9 {
    background: #b30000;
}

.OrRd.q8-9 {
    background: #7f0000;
}

.max-price {
    background: rgb(68, 68, 68);
}

.current-price {
    background: rgb(153, 153, 153);
}

.saved-price {
    background: rgb(253, 202, 93);
}

#hourly_values svg rect.sel {
    opacity: 0.5;
}

#hourly_values svg text {
    font-size: 8pt;
    fill: #aaa;
}

#hourly_values svg text.hidden {
    display: none;
}

#minmax .vz-background {
    fill: #FFF;
}

#minmax .vz-radial_progress-back-circle {
    fill: #FFF;
}

.controls > div {
    width: 160px;
    padding-left: 0px;
}

.controls.form-control {
    width: 160px;
}

.ui-select-bootstrap > .ui-select-choices,
.ui-select-bootstrap > .ui-select-no-choice {
    min-width: 130px;
}

p.subtitle {
    margin-left: 8.6%;
    line-height: 1.1;
}

p.subtitle.minmax {
    margin-left: 16.4%;
}

p.price {
    font-size: 20px;
    line-height: 20px;
    padding-top: 2px;
    margin-left: 8.6%;
    /*    margin-bottom: 12px;*/
    color: #444;
}

p.price.minmax {
    font-size: 20px;
    line-height: 20px;
    padding-top: 2px;
    margin-left: 16.4%;
    /*    margin-bottom: 12px;*/
    color: #444;
}

p.max {
    margin-top: 28px;
    margin-bottom: 4px;
}

p.min {
    margin-top: 4px;
    margin-bottom: 28px;
}

#hourly_values p.subtitle {
    margin-top: -10px;
}

#hourly_values p.price {
    margin-bottom: -20px;
}